body {
    background: #3c3c3c;
    

  }

  h1 {
      color: whitesmoke;


  }

  header {
    background-color: #49512a;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color:#ccc;
  }

  #nav { /* the nav box/container */
    float: left;
    width: 30%;
    background: #ccc;
    height: 300px;
    padding: 20px;
    font-size: 35px;
  }

  #nav ul {  /* the stuff inside the nav */
        list-style-type: none;
        margin: 0;
        padding: 0;
      
  }

  ul a {  /* nav links */
      color:darkslategray;
      line-height: 1.8;
      


  }

  #article {
    float: left;
    padding: 20px;
    width: 50%;
    height: 400px;
    background-color: #f1f1f1;

  }
  
#footer {
        background-color: #777;
        padding: 20px;
        text-align: center;
        color: white;
}
  
  